.flashy {
  font-style: italic;
  color: rgb(157, 219, 219);
  font-weight: bold;
}
img {
  width: 200px;
  height: auto;
}
.best {
  font-style:  oblique;
  color: blueviolet;
  font-weight: bolder;
  font-size: xx-large;
}
.intro {
  background-color: rgb(132, 118, 145);
  border: 2px rgb(77, 37, 114) solid;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
.list {
  padding: 10%;
  border: 2px rgb(61, 44, 77) solid;
}
.list li {
  padding: 10%;
}